*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Brygada 1918', serif;
font-family: 'Shippori Mincho B1', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffefe;
    color: black;
}

.search{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.search input{
    padding: 8px 3px;
    margin:5px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px grey solid;
    font-size: 17px;
    color: rgb(26, 25, 25);
    transition:  200ms;
    width:200px;
    text-align: center;
}

.search input:focus{
    border: none;
    border-bottom: 2px solid gray;
    transition: 200ms;
    font-size: 17px;
    transform-origin:  left;
    color: rgb(26, 25, 25);
}

.search button{
    margin-top:6px;
    padding: 10px 0;
    width:100%;
    outline: none;
    border:2px solid gray;
    background-color: gray;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
}

.weather{
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer{
    margin: 3px;
    margin-top: 0;
    color: gray;
    font-size: 15px;
}

.icon img{
    margin-top: 3px;
    border-radius: 500px;
}

.location{
    font-size: 18px;
    max-width:300px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.temp{
    font-size: 32px;
    color: black;
    padding: 2px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.desc{
    font-size: 18px;
    font-weight: bold;
    color: rgb(61, 61,61);
}
